@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.main-container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(109.5deg, rgb(24, 175, 231) 11.2%, rgb(67, 82, 186) 74.6%);
    display: flex;
    align-items: center;
    justify-content: center ;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F8F8FF;
    padding: 3rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}