@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #434343 0%, black 100%);
    font-family:'Arimo' 
}

.login-container {
    display: flex;
    flex-direction: row;
    max-width: 60rem;
    border-radius: 1.5rem;
    background-color: #F5F5F5;
}

.img-container {
    width: 40%;
}

.info-container {
    display: flex;
    width: 60%;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0px 0px px px #aaaaaa;
}

.headline-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.headline-container h1 {
    margin-bottom: 1rem;
}

.user-container {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 1rem;
}

.input-container label {
    font-size: 1.2rem;
}

.input-container input {
    border-width: 1px;
    border-radius: .5rem;
    padding: .3rem;
}
